node_modules

# Output
.output
/.svelte-kit
/build
/docs/

# iOS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# Playwright
test-results

# Test coverage
coverage/
